name: Coverage

on:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed

jobs:
  coverage:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc g++ cmake golang uuid-dev libssl-dev lcov

    - name: Run pre-build script (hashes and baseline)
      run: |
        chmod +x ./build_clean_linux64.sh
        ./build_clean_linux64.sh
      shell: bash

    - name: Run coverage (unit tests)
      run: |
        chmod +x ./coverage_linux.sh
        ./coverage_linux.sh --testdefinition Tests/signalloadtest.xml --build-target libmctest_signalloadtest
      shell: bash

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: |
          build_coverage/coverage_html
          build_coverage/coverage.info
